@{
    ViewBag.Title = "Dane kontaktowe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon</h3>
    </header>
    <p>
        <span class="label">Pon. do Pt. od 9 - 17 tej :</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">Po godzinach:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Wsparcie techniczne:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Dział marketingu:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">Sekretariat prezesa:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dane adresowe</h3>
    </header>
    <p>
        Mietex Software Sp. z o.o.<br />
        12-234 Toruń<br />
        Aleja Ojca Tadeusza 123
    </p>
</section>