@{
    ViewBag.Title = "Strona główna";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
                <h2>Domowid - @ViewBag.Message</h2>
            </hgroup>
            <p>
@*                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.*@
                Zarządzaj domową kolekcją filmów łatwo i przyjemnie. 

            </p>
        </div>
    </section>
}
<h3>Nigdy nie było to tak proste jak dziś:</h3>
<ol class="round">
    <li class="one">
        <h5>Zarejestruj się</h5>
        Solennie obiecujemy, Twoje dane należną tylko do Ciebie. Dzięki rejestracji masz nielimitowany
        dostęp do własnej bazy filmów.
    </li>

    <li class="two">
        <h5>Uzupełnij bazę filmów</h5>
        Poświęć trochę czasu teraz i dodaj swoje filmy do Domowida, aby później z nich wygodnie korzystać.
        To tylko parę minut.
    </li>

    <li class="three">
        <h5>Dowiedz się gdzie jest Twój film</h5>
        Jesteś koleżeński i zdarza Ci się wypożyczać filmy ? 
        Jeśli tak, nie martw się, od dziś już nie będziesz musiał w bezsenne noce zastanawiać się - gdzie jest mój film ?
    </li>
</ol>
